{% extends 'base.html' %}

{% block content %}
  <h2>{{ form.instance.name|default:"Add Member" }}</h2>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.name.id }}">Name:</label>
      {{ form.name }}
    </div>

  
    <div class="form-group">
      <label for="{{ form.email.id }}">Email:</label>
      {{ form.email }}
    </div>

    
    <div class="form-group">
      <label for="{{ form.outstanding_debt.id }}">Outstanding Debt:</label>
      {{ form.outstanding_debt }}
    </div>

    
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  
  <a href="{% url 'member_list' %}" class="btn btn-secondary">Cancel</a>
{% endblock %}
